@{
    ViewBag.Title = "Contact";
}
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    
</head>

<body>
    <h3 class="h3 text-center;" style="color:yellow">
        Contact Us
    </h3>
    <div class="website_banner"><div style="width:1200px; margin:auto; text-align:center;"><img id="website_banner" src="//cdn.iclanwebsites.com/vinjoni/ThemeBuilder/bi4d_Banner8.jpg" alt=""></div></div>

    <p>
        Contact information for website administrators.
        Use this information to request password resets,
        technical support, or simply want to chat in game!
    </p>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">CasualOasis@gmail.com</a><br />
        <strong>Admin:</strong> <a href="mailto:Marketing@example.com">Lukus.h34@gmail.com</a>
    </address>
</body>
