@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">Slayer Data for Runescape Slayers</h1>
    <p class="lead">Welcome to the one stop shop for all your slayer information needs.
            This site is compiled by veteran Runescape players dedicated to
            helping others enjoy the game as much as we do. On this site we
            primarily focus on providing Slayer information but we'll help
            however we can.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Before you can really take part in the site you
            must Login or Register using the links below.
        </p>
        <p>
            <a class="btn btn-default" href="~/User/Login"> Login &raquo;</a>
            <a class="btn btn-default" href="~/User/Register"> Register &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Want to know more?</h2>
        <p>
            The information on this site focusus primariliy on the
            Slayer skill to provide you with the information you need
            to plan your slayer assignment. If you would like to learn
            more about Runescape in its entirety, the links below are
            excellent resources.
        </p>
        <p>
            <a class="btn btn-default" href="http://runescape.wikia.com/wiki/RuneScape_Wiki" target="_blank">Runescape Wiki &raquo;</a>
            <a class="btn btn-default" href="http://www.runescape.com/community" target="_blank">Official Runescape Site &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Admin Quick Contact</h2>
        <div class="col-sm-5">
            <p>Feel free to contact admins listed here in game or via the clan website using the link below.</p>
            <p><a class="btn btn-default" href="http://http://casualoasis.clanwebsite.com" target="_blank">Casual Oasis &raquo;</a></p>
        </div>
       <ul class="col-sm-4" style="color:white;">
            <li>Lukus 9</li>
            <li>BionicCat</li>
            <li>Chris D</li>
            <li>Divember</li>
            <li>Tempah</li>
            <li>Jonivi</li>
            <li>Saint Cannon</li>
            <li>Mareofthesea</li>
        </ul>
    </div>
</div>